<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>소셜 로그인</title>
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">-->
</head>
<body>
<h2>Welcome Home</h2>
<div>
    <a th:href="@{/oauth2/authorization/kakao}">
        <img th:src="@{/kakao_login.png}" alt="카카오 로그인">
    </a>
</div>
<div>
    <a th:href="@{/oauth2/authorization/google}">
        <img th:src="@{/google_login.png}" alt="구글 로그인">
    </a>
</div>
</body>
</html>