<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Today's Question</title>
</head>
<body>
<h2>Today's Question</h2>
<div th:if="${error}">
    <p th:text="${error}"></p>
</div>
<div th:unless="${error}">
    <p th:text="${question.content}"></p>

    <a th:href="@{|/${question.id}/answer|}">
        <button type="button">답안 만들기</button>
    </a>

    <a th:href="@{|/banned/${question.id}|}">
        <button type="button">이 질문 싫어요</button>
    </a>
</div>
</body>
</html>
