<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Member">
    <insert id="save" parameterType="member" useGeneratedKeys="true" keyProperty="id">
        insert into MEMBER_TABLE(userId, username, password)
            values(#{userId}, #{username}, #{password})
    </insert>
    <select id="findByUserId" parameterType="String" resultType="member">
        select id, userId, username, password from MEMBER_TABLE where userId=#{userId}
    </select>
</mapper>